<div id="modal-window" class="popup">
    <div class="modal-header" >
        <button id="close-comment-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Leave your comment here</h4>
    </div>
    <div class="modal-body">
        <form id="comment-form">
            <input id="username" type="text" size="39" class="name-field" placeholder="Your Name" required/><br>
            <textarea id="usercomment" cols="40" rows="6" placeholder="Comment..." required></textarea><br>
        </form>
        <hr>
        <h4>Comments</h4><hr>
        <div>
          <!--  <% include comments.ejs %> -->
        </div>
    </div>
    <div class="modal-footer">
        <button id="cancel-comment" class="btn btn-link">Cancel</button>
        <button type="submit" class="btn btn-succes">Send</button>
    </div>
</div>

