<ul>

    <% if(fileComments.length > 0) { %>
        <% for (var i = 0; i < fileComments.length; i+= 1) { %>
            <li>
                <p>Author: <%=fileComments[i].username%></p>
                <p>Comment: <%=fileComments[i].comment %></p>
            </li>
        <% } %>
    <% } %>
</ul>