<div id="modal-window" class="popup">
    <div class="modal-header" >
        <button id="close-comment-modal" type="button" class="close">&times;
        </button>
        <h4 class="modal-title">Leave your comment here</h4>
    </div>
    <form method="post" id="comment-form">
        <div class="modal-body">
                <input id="username" type="text" size="39" class="name-field" placeholder="Your Name" required/><br>
                <textarea id="usercomment" cols="40" rows="6" placeholder="Comment..." required></textarea><br>
            <hr>
            <h4>Comments</h4><hr>
            <div id="comment-field">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="cancel-comment" class="btn btn-link">Cancel</button>
            <button type="submit" class="btn btn-succes">Send</button>
        </div>
    </form>
</div>

